.board-config {
  height: auto;
  padding: 25px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
}

input[type="color"] {
  border: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
  outline: none;
}

.active-item > .MuiButtonBase-root,
.board-config__items > .MuiButtonBase-root:hover {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
