.user-container__profile .MuiAvatar-colorDefault {
  background: rgba(255, 255, 255, 0.7);
}

.user-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.user-container__title {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
